*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: Nunito, Arial, sans-serif;
}

/* NAVIGATION BAR - STYLE*/
.nav{
    background-color: #b0c4de;
    padding: 25px;
}

.container{     /*THE CONTEINER ALIGNS THE ITENS TO THE CENTER*/
    width: 90s%;
    align-items: center;
}
.nav__menu{
    list-style-type:none;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}
.nav__menu-item{
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}



/* BANNER SECTION */
.banner{
	background-image:url(../img/foto-banner.jpg);
	background-size:cover;
	height: 700px;
}
.centralized{
	text-align: center;
}
.banner__h1{
	color: #fff;
	font-size: 100px;
	text-transform: uppercase;
	/*padding: 50px 0;  Why if add margin-top there is a gap between the nav and the background image? */
}
.banner__text{
	margin: 50px;
}

.banner__btn{
	text-decoration: none;
	color: white;
	text-transform: uppercase; 
	padding: 10px;
	background-color: #a0bed0;
	border-radius: 5px;
}
.banner__h1{
	margin-bottom: 10px;
}

.banner__img{
	background-size: cover;
	width: 1500px;
}

/* ABOUT SECTION */


.about{
	text-align: center;
	background-color: #696969;
	padding: 50px 0;
}

.about__heading{
	color: #fff;
	/*padding: 50px 0 25px;*/
	font-weight: 200;
}
.about__p{
	font-size: 15px;
}

/* DESTINATION SECTION */

.siberia{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	
}
.siberia__img{
	width:60%;
	max-height: 500px; /* HOW TO AVOID IMAGEM FROM STRETCHING?*/
	max-width: 600px;
	margin: 50px 30px 100px 30px;
}

.siberia__info{
	max-width: 30%;	
}
.siberia-h2{
	color: black;
}

@media(max-width:420px){
    .nav{
        background-color: #f8f9fa;     
    }
    .nav__menu-item{
        display:none;
    }
    .menu-hamburguer{
        width:30px;
    }
	.banner__h1{
		font-size: 50px;
		padding-top: 100px;
	}
}

@media(min-width:421px){
    .menu-hamburguer{
        display:none;
    }
}
