*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: Nunito, Arial, sans-serif;
}

/* NAVIGATION BAR - STYLE*/
.nav{
    background-color: #b0c4de;
    padding: 25px;
}

.container{
    width: 92%;
    align-items: center;
}
.nav__menu{
    list-style-type:none;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}
.nav__menu-item{
    margin-left: 10px;
    text-decoration: none;
}


@media(max-width:420px){
    .nav{
        background-color: #f8f9fa;     
    }
    .nav__menu-item{
        display:none;
    }
    .menu-hamburguer{
        width:30px;
    }
}

@media(min-width:421px){
    .menu-hamburguer{
        display:none;
    }
}

/* HEADER */